@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import "@uiw/react-markdown-preview/markdown.css";
@import "@uiw/react-md-editor/markdown-editor.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --base-border-color: #0f172a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --base-border-color: #fff;
  }
}
[data-color-mode="dark"]:root {
  /* :root { */
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --base-border-color: #fff;
  /* } */
}
[data-color-mode="light"]:root {
  /* :root { */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --base-border-color: #0f172a1a;
  /* } */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*,
::before,
::after {
  border-color: var(--base-border-color);
}

[data-color-mode="light"] ul,
[data-color-mode="light"] ol {
  margin: 0;
}
/** next-ui reset */
[data-color-mode="dark"] ul,
[data-color-mode="dark"] ol {
  margin: 0;
  color: unset;
}
[data-color-mode="dark"] *::selection {
  background-color: #fff !important;
  color: #000 !important;
}
[data-color-mode="light"] *::selection {
  background-color: #000 !important;
  color: #fff !important;
}

.wmde-markdown p,
.wmde-markdown blockquote,
.wmde-markdown ul,
.wmde-markdown ol,
.wmde-markdown dl,
.wmde-markdown table,
.wmde-markdown pre,
.wmde-markdown details {
  margin-top: 0;
  margin-bottom: 16px;
}

.wmde-markdown p,
.wmde-markdown blockquote,
.wmde-markdown ul,
.wmde-markdown ol,
.wmde-markdown dl,
.wmde-markdown table,
.wmde-markdown pre,
.wmde-markdown details {
  margin-top: 0;
  margin-bottom: 16px;
}

[data-color-mode="dark"] .wmde-markdown pre > code {
  padding: 8px;
  color: aquamarine;
}
[data-color-mode="light"] .wmde-markdown pre > code {
  padding: 8px;
  color: darkslateblue;
}

/** w-md reset */
body .w-md-editor {
  background-color: transparent;
  /* color: transparent; */
}

body .w-md-editor-toolbar {
  background-color: transparent;
  /* color: transparent; */
}
body .wmde-markdown {
  background-color: transparent;
  /* color: transparent; */
}
